nav {
  /* height: 513px; */
  height: 87vh;
  width: 87px;
  background-color: #613216;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 13px;
}

nav a {
  color: white;
}

.lobby {
  position: relative;
  top: 13px;
}

.profile {
  position: relative;
  top: 10px;
}

.logout {
  position: relative;
  top: 367px;
}