nav {
  height: 100vh;
  width: 100px;
  background-color: #613216;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 10px;
}

nav a {
  color: white;
}

.battle {
  position: relative;
  top: 10px;
}

.lobby {
  position: relative;
  top: 13px;
}

.profile {
  position: relative;
  top: 26px;
}

.logout {
  position: relative;
  top: 367px;
}