header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

button a {
  color: white;
}

.card {
  border: solid black 1px;
  border-radius: 13px;
  padding: 13px;
  margin: 13px;
  background: white;
  text-align: center;
}

.chatbox {
  border: solid black 1px;
  border-radius: 13px;
  height: 201px;
  padding: 13px;
  margin: 13px;
  background:rgb(245, 253, 253);
  text-align: center;
}

.elo {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 50%));
  grid-auto-rows: auto;
  padding: 3px;
  font-size: 10px;
  white-space: nowrap;
  text-align: center;
}

.elo img {
  width: 35%;
  height: auto;
}

.game-area {
  grid-area: game-area;
  display: grid;
  justify-content: center;
}

.game-details {
  background:rgb(245, 253, 253);
  height: 201px;
  padding: 13px;
  margin: 13px;
  border: solid black 1px;
  border-radius: 13px;
}

.game-info {
  grid-area: game-info;
  display: grid;
  justify-content: center;
}

.navbar {
  grid-area: navbar;
  display: none;
}

.profiles {
  grid-area: profiles;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-details {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, auto));
  grid-auto-rows: auto;
  justify-items: center;
  background: rgb(245, 253, 253);
  margin: 13px;
  padding: 7px 7px 0 7px;
  border: solid black 1px;
}

.profile-details img {
  max-width: 100px;
  height: auto;
}

.quit-button {
  /* text-align: center; */
  margin: 10px;
}

.scores {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  background: rgb(245, 253, 253);
  width: 100%;
  padding: 13px;
  margin: 13px 0;
  border: solid black 1px;
  border-radius: 13px;
  font-size: 20px;
}

.scores img {
  margin-bottom: 5px;
}

.timeout {
    background: rgb(245, 253, 253);
    padding: 13px;
    margin: 13px;
    border: solid black 1px;
    border-radius: 13px;
}

/* Portrait style for phones */
@media screen and (max-width: 640px) {
  body {
    background-image: url("../img/woodentable.png");
  }
  .game-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(87px, auto);
    max-width: 100%;
    margin: 0 auto;
    grid-template-areas:
      "header"
      "navbar"
      "game-area"
      "profiles";
  }

  nav {
    display: none;
  }

  .game-area {
    width: 100%;
  }

  .navbar {
    display: grid;
    width: 100%;
  }

  .profiles {
    width: 400px;
    margin: 0 auto;
  }
}

/* Desktop style */
@media screen and (min-width: 640px)
  and (min-height: 400px) {
  .game-container {
    background-image: url("../img/woodentable.png");
    display: grid;
    grid-template-columns: minmax(min-content, 9vw) minmax(min-content, 44vw) minmax(min-content, 47vw);
    grid-auto-rows: auto;
    width: 100%;
    grid-template-areas:
      "header header     header"
      "nav    game-area profiles";
  }
}
