header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.card {
  border: solid black 1px;
  border-radius: 13px;
  height: 201px;
  padding: 13px;
  margin: 13px;
  text-align: center;
}

.game-board {
  grid-area: game-board;
  display: grid;
  justify-content: center;
}

.game-details {
  background: white;
  height: 201px;
  padding: 13px;
  margin: 13px 0;
  border: solid black 1px;
  border-radius: 13px;
}

.scores {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, auto));
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
  background: white;
  width: 100%;
  padding: 13px;
  margin: 13px 0;
  border: solid black 1px;
  border-radius: 13px;
  font-size: 20px;
}

.game-info {
  grid-area: game-info;
  display: grid;
  justify-content: center;
}

.profiles {
  grid-area: profiles;
  justify-content: center;
}

.profile-details {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, auto));
  grid-auto-rows: auto;
  justify-items: center;
  /* align-items: center; */
  background: white;
  margin: 13px;
  padding: 7px 7px 0 7px;
  border: solid black 1px;
}

.profile-details img {
  max-width: 100px;
  height: auto;
}

.elo {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 50%));
  grid-auto-rows: auto;
  padding: 3px;
  font-size: 10px;
  white-space: nowrap;
  text-align: center;
}

.elo img {
  max-width: 25%;
  height: auto;
}

.timeout {
    background: white;
    padding: 13px;
    margin: 13px;
    border: solid black 1px;
    border-radius: 13px;
}

@media screen and (min-width: 640px) {
  .game-container {
    background-image: url("../img/woodentable.png");
    display: grid;
    grid-template-columns: minmax(min-content, 87px) minmax(min-content, 193px) minmax(min-content, 420px) minmax(min-content, 260px);
    grid-auto-rows: minmax(87px, auto);
    width: 960px;
    margin: 0 auto;
    grid-template-areas:
      "header header    header     header"
      "nav    game-info game-board profiles";
  }
}
