header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.chatbox {
  border: solid black 1px;
  border-radius: 13px;
  height: 201px;
  padding: 13px;
  margin: 13px;
  background:rgb(245, 253, 253);
  text-align: center;
}

.elo {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 50%));
  grid-auto-rows: auto;
  padding: 3px;
  font-size: 10px;
  white-space: nowrap;
  text-align: center;
}

.elo img {
  width: 35%;
  height: auto;
}

.game-board {
  grid-area: game-board;
  display: grid;
  justify-content: center;
}

.game-details {
  background:rgb(245, 253, 253);
  height: 201px;
  padding: 13px;
  margin: 13px;
  border: solid black 1px;
  border-radius: 13px;
}

.game-info {
  grid-area: game-info;
  display: grid;
  justify-content: center;
}

.navbar {
  grid-area: navbar;
  display: none;
}

.profiles {
  grid-area: profiles;
  justify-content: center;
}

.profile-details {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, auto));
  grid-auto-rows: auto;
  justify-items: center;
  background: rgb(245, 253, 253);
  margin: 13px;
  padding: 7px 7px 0 7px;
  border: solid black 1px;
}

.profile-details img {
  max-width: 100px;
  height: auto;
}

.quit-button {
  text-align: center;
}

.scores {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, auto));
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
  background: rgb(245, 253, 253);
  width: 100%;
  padding: 13px;
  margin: 13px 0;
  border: solid black 1px;
  border-radius: 13px;
  font-size: 20px;
}

.timeout {
    background: rgb(245, 253, 253);
    padding: 13px;
    margin: 13px;
    border: solid black 1px;
    border-radius: 13px;
}

/* Landscape style for phones */
@media screen and (max-height: 400px) {
  .game-container {
    display: grid;
    grid-template-columns: repeat(3, 20fr) 40fr;
    grid-auto-rows: auto;
    justify-items: center;
    background-image: none;
  }
  .game-board {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
  .navbar {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }
  .profiles {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  body {
    background-image: url("../img/woodentable.png");
    background-size: 100hw;
  }
  header, nav {
    display: none;
  }
  .game-info, .profile-details, .quit-button, .scores, .timeout{
    display: none;
  }
  .card {
    height: 75vh;
    width: 40vw;
  }
  .game-board img{
    height: 80vh;
  }
  .navbar {
    height: 20vh;
  }
}

/* Portrait style for phones */
@media screen and (max-width: 640px) {
  body {
    background-image: url("../img/woodentable.png");
  }
  .game-container {
    display: grid;
    grid-template-columns: minmax(1fr, auto) minmax(1fr, auto);
    grid-auto-rows: minmax(87px, auto);
    max-width: 640px;
    margin: 0 auto;
    grid-template-areas:
      "header     header"
      "navbar     navbar"
      "game-board game-board"
      "game-info  profiles";
  }
  nav {
    display: none;
  }
  .navbar {
    display: grid;
  }
}

/* Desktop style */
@media screen and (min-width: 640px)
  and (min-height: 400px) {
  .game-container {
    background-image: url("../img/woodentable.png");
    display: grid;
    grid-template-columns: minmax(min-content, 9vw) minmax(min-content, 44vw) minmax(min-content, 47vw);
    grid-auto-rows: auto;
    width: 100%;
    grid-template-areas:
      "header header     header"
      "nav    game-board profiles";
  }
}
