nav {
  position: absolute;
  top: 87px;
  left: 0;
  height: 513px;
  width: 140px;
  background-color: #613216;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 13px;
}

nav a {
  color: white;
}

.lobby {
  position: relative;
  top: 53px;
}

.history {
  position: relative;
  top: 66px;
}

.logout {
  position: relative;
  top: 367px;
}