/**** Page Structure ****/

header {
grid-area: header;
}

nav {
  grid-area: nav;
}

/**** Attributes ****/

.userprofile {
  grid-area: userprofile;
}

.details {
  grid-area: details;
}

.standings {
  grid-area: standings;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

/**** Media Queries ****/

/* Portrait style for phones */
@media screen and (max-width: 640px) {
  body {
    background-image: url("../img/woodentable.png");
  }
  .profile-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(87px, auto);
    grid-template-areas:
    "header"
    "navbar"
    "userprofile"
    "details";
    max-width: 100%;
    margin: 0 auto;
  }

  nav {
    display: none;
  }
  
  .navbar {
    display: grid;
    width: 100%;
  }
}

@media screen and (min-width: 640px)
  and (min-height: 400px) {
    .profile-container {
      display: grid;
      grid-template-columns: 100px minmax(min-content, 50vw) minmax(min-content, 50vw);
      grid-auto-rows: auto;
      grid-template-areas:
      "header header  header"
      "nav    userprofile details";
      width: auto;
      background-image: url("../img/woodentable.png");
    }
  } 