header {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 87px;
  background-color: rgb(149, 77, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

header img {
  width: 400px;
  height: auto;
  padding: 0 10px;
}